{% extends 'template.html.twig' %}
{% set user = result.userInfo %}
{

{%  block title %} Informations {% endblock %}

{%  block content %}
    <div class='generalContent'>
        <h1>Informations du compte</h1>
        <div class=msgUpdateUser></div>
        <div class='formUpdateUserInformations'>
            <div class='userInformations'>

                <div class='userInformationsLeft'>
                    <span class='userAvatar'>
                        {% if result.haveAvatar %}
                            <img src='../images/userAvatar/avatar_{{ user.id }}.png'  title='Modifier' />
                        {% elseif user.isMale%}
                            <img src='../images/userAvatar/noAvatarM.png' title='Modifier' />
                        {%  else %}
                            <img src='../images/userAvatar/noAvatarF.png' title='Modifier' />
                        {% endif %}
                    </span>

                    <span>
                        <label>Pseudo</label>
                        <input type='text' name='pseudo' value='{{ user.pseudo }}' data='{{ user.pseudo }}' placeholder='Pseudo' required class='inputUpdateUserInformations updatePseudo'/>
                    </span>

                    <span>
                        <label>Nom</label>
                        <input type='text' name='lastname' value='{{ user.lastname }}' data='{{ user.lastname }}' placeholder='Nom' class='updateLastname updateInfos'/>
                    </span>

                    <span>
                        <label>Prenom</label>
                        <input type='text' name='firstname' value='{{ user.firstname }}' data='{{ user.firstname }}' placeholder='Prénom' class='updateFirstname updateInfos'/>
                    </span>
                </div>
                <div class='userInformationsRight'>
                    <span>
                        <label>Mail</label>
                        <input type='email' name='mail' value='{{ user.mail }}' data='{{ user.mail }}' placeholder='Mail' required class='inputUpdateUserInformations updateMail'/>
                    </span>

                    <span>
                        <label>Mobile</label>
                        <input type='text'  name='numberphone' maxlength='14' pattern='^[0-9]{10}|[0-9 ]{14}$' title='Format de téléphone à 10 chiffres'  value='{{ user.numberphone }}' data='{{ user.numberphone }}' placeholder='Mobile' class='updateMobile updateInfos' />
                    </span>

                    <span class='genderRadio' value-selected='{{ user.isMale }}' data='{{ user.isMale }}'>
                        {% if user.isMale  == 'true' %}
                            <input type="radio" name="gender" value='true' checked='true' class='radioH' />Homme
                            <input type="radio" name="gender" value='false' class='radioF' />Femme
                        {% else %}
                            <input type="radio" name="gender" value='true' class='radioH' />Homme
                            <input type="radio" name="gender" value='false' checked='true' class='radioF' />Femme
                        {% endif %}
                    </span>

                    <span>
                        <button type='submit' class='changePwd'>Changer mon mot de passe</button>
                    </span>
                </div>
            </div>
            <input type='reset' value='Annuler' />
            <input type='submit' value='Enregistrer' disabled='true' class='submitUpdateUser'/>
        </div>

        <form method='POST' class='formUploadAvatar' action='updateAvatar' encType='multipart/form-data'>
            <input type='file' class='inputFileAvatar' name='newAvatar'/>
            <input type='hidden' name='userName' value='{{ result.pseudoUser }}'>
        </form>
    </div>

{% endblock %}