<!DOCTYPE html>

<html>
    <head>
        <title> LibrarizeMe : {% block title %}{% endblock %}</title>
        <meta charset='UTF-8' />
        <link rel='icon' href='../images/favicon.ico' />
        <link rel='stylesheet' type='text/css' href='../stylesheets/style.css' />
        <script src="../javascripts/jQuery.js"></script>
        <script> $j = jQuery.noConflict() </script>
        <script src="../javascripts/template.js"></script>
        <script src="../javascripts/login.js"></script>
        <script src="../javascripts/userInformations.js"></script>
    </head>

    <body>
        <header>
            <div id='logo'>
                <div class='libraryLeftIcon'></div>
                <div class='nameOrganization'></div>
                <div class='libraryRightIcon'></div>
            </div>
        </header>

        <div class='menuDiv'>
            <ul>
                <li class='titleMenu menuNav' data='/home'>Accueil</li>
                <li class='titleMenu'>
                    Services
                    <ul>
                        <li><div>Services 1</div></li>
                        <li><div>Services 2</div></li>
                    </ul>
                </li>
                <li class='titleMenu'>
                    Bibliothèque
                    <ul>
                        <li class='menuNav' data='/produit/mesProduits'><div>Mes produits</div></li>
                        <li><div></div></li>
                        <li><div></div></li>
                        <li><div>Projets 4</div></li>
                    </ul>
                </li>
                <li class='titleMenu'>
                    <div class='pseudoUserMenu'>{{ result.pseudoUser }}</div>
                    <ul>
                        <li class='menuNav' data='/user/informations'><div>Mes informations</div></li>
                        <li class='menuNav' data='/user/logout'><div>Déconnexion</div></li>
                    </ul>

                </li>
            </ul>
        </div>

        <div class='content'>
            {% block content %}{% endblock %}
        </div>

        <footer>
            <div id='footer'>&#64;2017 LibrarizeMe  {{ result.etatMenu }} {{ result['etatMenu'] }} {{ result.getEtatMenu }}</div>
        </footer>
    </body>



{% if result.etatMenu == 'show' %}
    <script>
        $j('.menuDiv').css('display', 'block');
    </script>
{% elseif result.etatMenu == 'hide' %}
    <script>
        $j('.menuDiv').css('display', 'none');
    </script>
{% endif %}

<form method='POST' class='formNavigateMenu' action='#'>
    <input type='hidden' name='userName' value='{{ result.pseudoUser }}'>
</form>

</html>
